h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    color: #a0632e;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    margin-top: 2%;
    color: #cccccc;
    min-height: 80vh;
}

.summary {
    width: 55%;
    font-size: 20px;
}