h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    margin-top: 13%;
    color: #cccccc;
}

.summary {
    width: 55%;
    font-size: 18px;
}