.product-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    min-height: 90vh;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: rgba(31, 32, 26, 0.4);
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    margin-top: 20px;
    gap: 20px;
}

.project p {
    font-size: 20px;
    line-height: 1.2;
}

.project h4 {
    color: #a0632e;
}

/* styles.css */
.hovered-div {
    background-color: rgba(31, 32, 26, 0.3);
    transition: background-color 0.3s ease;
}

.hovered-div:hover {
    background-color: rgba(31, 32, 26, 0.5);
}

.project-name {
    font-size: 28px;
}

.project-name:hover {
    color: #a0632e;
    transition: color 1s;
}

.first-projects {
    display: flex;
    gap: 20px;
}

.second-projects {
    display: flex;
    width: 50%;
}


@media (max-width: 768px) {
    .product-page {
        padding: 0 20px 20px 20px;
        width: 100%;
    }

    .first-projects {
        gap: 0px;
        flex-direction: column;
    }

    .project h3 {
        font-size: 15px;
    }

    .project p {
        font-size: 12px;
    }

    .project h2 {
        font-size: 20px;
    }

    .project h4 {
        font-size: 15px;
    }

    .project h5 {
        font-size: 13px;
    }

    .second-projects {
        width: 100%;
    }
}