a,
li,
span {
    color: #cccccc;
    font-weight: normal;
}

span:hover {
    color: #a0632e;
    transition: color 1s;
}

.contact-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

.contact-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    gap: 50px;

}

.linkedin-size {
    font-size: 37px;
}

.contact-h4 {
    font-size: 2rem;
}


@media (max-width: 768px) {

    .contact-address {
        font-size: 12px;
    }

    .linkedin-size {
        font-size: 20px;
    }

    .contact-h4 {
        font-size: 1rem;
    }

    .contact-page {
        min-height: 81vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

}