a,
li,
span {
    color: #cccccc;
    font-weight: normal;
    font-size: 18px;
    font-family: sans-serif;
}

span:hover {
    color: #a0632e;
    transition: color 1s;
}

.contact-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}