@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 150px;
    --card-width: 200px;
}

.deneme {
    max-width: 89%;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    gap: 75px;
}

.card {
    background: #141819;
    width: var(--card-width);
    height: var(--card-height);
    padding: 10px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.6em;
    cursor: pointer;
    margin: 10px;
}

.card:hover {
    color: #a0632e;
    transition: color 1s;
}

.card:hover:before,
.card:hover:after {
    animation: none;
    opacity: 0;
}


.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: -webkit-linear-gradient(var(--rotate), #cba789, #f69a4a 43%, #a0632e);
    background-image: linear-gradient(var(--rotate), #cba789, #f69a4a 43%, #a0632e);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

a {
    color: #07090A;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2rem;
}

.backend-skills {
    width: 747px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frontend-skills {
    width: 747px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-page {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    max-width: 90%;
}

@media (max-width: 768px) {
    :root {
        --card-width: 100%;
        /* Kart genişliğini 100% olarak ayarla */
        --card-height: 60px;
        /* Kart yüksekliğini otomatik ayarla */
    }

    .deneme {
        flex-direction: column;
        /* Kartları dikey sırala */
        align-items: center;
        /* Kartları ortala */
        gap: 20px;
        /* Kartlar arasındaki boşluğu azalt */
    }

    .backend-skills {
        width: 100%;
        display: flex;
    }

    .frontend-skills {
        width: 300px;
        display: flex;
    }

    .card {
        max-width: 140px;
        /* Kart maksimum genişlikte olacak */
        margin: 10px 5px;
        /* Kartların üst ve alt kenar boşluğunu ayarla */
        font-size: 20px;
    }

    a {
        margin-top: 1rem;
        /* Bağlantıların üst kenar boşluğunu ayarla */
    }
}

@media (min-width: 1550px) and (max-width: 1741px) {
    .deneme {
        max-width: 100%;
    }
}

@media (min-width: 900px) and (max-width: 1548px) {
    .deneme {
        max-width: 100%;
    }

    .skills-page {
        max-width: 100%;
    }
}

@media (min-width: 885px) and (max-width: 954px) {
    .deneme {
        max-width: 100%;
        gap: 5px;
    }

    .skills-page {
        max-width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 884px) {
    :root {
        --card-width: 40%;
        /* Kart genişliğini 100% olarak ayarla */
        --card-height: 80px;
        /* Kart yüksekliğini otomatik ayarla */
    }

    .deneme {
        max-width: 100%;
        gap: 5px;
    }

    .skills-page {
        max-width: 100%;
    }

    .card {
        font-size: 1.3rem;
    }
}