.education {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: rgba(31, 32, 26, 0.4);
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    margin-top: 20px;
    gap: 20px;
}

.education p {
    font-size: 20px;
    line-height: 1.2;
}

.education h3 {
    color: #a0632e;
}

/* styles.css */
.hovered-div {
    background-color: rgba(31, 32, 26, 0.3);
    transition: background-color 0.3s ease;
}

.hovered-div:hover {
    background-color: rgba(31, 32, 26, 0.5);
}

.courses {
    font-family: sans-serif;
    font-size: 28px;
}

.courses:hover {
    color: #a0632e;
    transition: color 1s;
}